## 1. Write a Python program to sum all the items in a list.

In [ ]:
a = []
for i in range(5):
  a.append(int(input("Enter the number to Insert: ")))
print("The sum of", a, "is", sum(a))

Enter the number to Insert: 50
Enter the number to Insert: 60
Enter the number to Insert: 10
Enter the number to Insert: 20
Enter the number to Insert: 30
The sum of [50, 60, 10, 20, 30] is 170

## 2. Write a Python program to get the largest and smallest number from a list without builtin functions.

In [ ]:
a = [50, 60, 10, 20, 30]
largest , smallest = 0, 100
for i in a:
  if i>smallest:
    if i>largest:
      largest = i
  else:
    smallest = i
print("The largest number is:", largest, "and the Smallest is:", smallest)

The largest number is: 60 and the Smallest is: 10

## 3. Write a Python program to find duplicate values from a list and display those.

In [ ]:
a = [50, 60, 10, 20, 30, 20, 30, 50]
freq = dict()
for i in a:
  if i not in freq:
    if a.count(i)>=2:
      freq.setdefault(i,a.count(i))
print(freq.keys())

dict_keys([50, 20, 30])

## 4. Write a Python program to split a given list into two parts where the length of the first part of the list is given.

Original list:
[1, 1, 2, 3, 4, 4, 5, 1]

Length of the first part of the list: 3

Splitted the said list into two parts:
([1, 1, 2], [3, 4, 4, 5, 1])

In [ ]:
orig = [1, 1, 2, 3, 4, 4, 5, 1]
res = []
res.append(orig[:3])
res.append(orig[3:])
print(res)

[[1, 1, 2], [3, 4, 4, 5, 1]]

## 5. Write a Python program to traverse a given list in reverse order, and print the elements with the original index.
Original list:
['red', 'green', 'white', 'black']

Traverse the said list in reverse order:

black
white
green
red

In [ ]:
orig = ['red', 'green', 'white', 'black']
reversed = orig[::-1]
j = len(orig)
for i in reversed:
  j-=1
  print(i,j)

black 3
white 2
green 1
red 0

## 1. Write a Python program and calculate the mean of the below dictionary.
test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}

Output: 6.2

In [ ]:
test_dict = {"A" : 6, "B" : 9, "C" : 5, "D" : 7, "E" : 4}
val = test_dict.values()
print("The mean is:", sum(val)/len(val))

The mean is: 6.2

## 2. Write a Python script to concatenate the following dictionaries to create a new one.

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic2.update(dic3)
dic1.update(dic2)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## 3.Write a Python program to get the key, value and item in a dictionary.

input:dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dict_num = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
res = dict_num.keys()
print("Key Value")
for i in res:
  print(i," ",dict_num.get(i))

Key Value
1   10
2   20
3   30
4   40
5   50
6   60

## 4.Write a Python program to get the key, value and item in a dictionary.

Input: input_dict = {1: 10, 2: 20, 3:None, 4: 40, 5: None, 6: 60}

In [ ]:
input_dict = {1: 10, 2: 20, 3:None, 4: 40, 5: None, 6: 60}
for i in list(input_dict.keys()):
    if input_dict[i] is None:
        input_dict.pop(i)
print("Dictionary with Empty Items Dropped:")
print(input_dict)

Dictionary with Empty Items Dropped:
{1: 10, 2: 20, 4: 40, 6: 60}

## 1. Write a Python program to find the number of times 4 appears in the tuple.
**Input:**
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )

**Output:** 3

In [ ]:
tuplex = (2, 4, 5, 6, 2, 3, 4, 4, 7 )
count = 0
for i in tuplex:
  if i==4:
    count+=1
print(count)

3

## 2.Write a Python program to convert a list to a tuple.
**Input:** listx = [5, 10, 7, 4, 15, 3]

**Output:** (5, 10, 7, 4, 15, 3)

In [ ]:
listx = [5, 10, 7, 4, 15, 3]
print(tuple(listx))

(5, 10, 7, 4, 15, 3)

## 3. Write a Python program to calculate the sum of the numbers in a given tuple.

**Input:** tuples_list = [(1, 2), (3, 4), (5, 6)]

In [ ]:
tuples_list = [(1, 2), (3, 4), (5, 6)]
sum = 0
for i in tuples_list:
  for j in i:
    sum +=j
print("The sum of the values in the tuple is:",sum)

The sum of the values in the tuple is: 21

## 4.Write a python program and iterate the given tuples

**Input:**
employee1 = ("John Doe", 101, "Human Resources", 60000)

employee2 = ("Alice Smith", 102, "Marketing", 55000)

employee3 = ("Bob Johnson", 103, "Engineering", 75000)

In [ ]:
employee1 = ("John Doe", 101, "Human Resources", 60000)
employee2 = ("Alice Smith", 102, "Marketing", 55000)
employee3 = ("Bob Johnson", 103, "Engineering", 75000)
list = [employee1,employee2,employee3]
print("Employee Records:")
for i in list:
  print("Name:",i[0],"\nEmployee ID:",i[1],"\nDepartment:",i[2],"\nSalary:",i[3],"\n")

Employee Records:
Name: John Doe
Employee ID: 101
Department: Human Resources
Salary: 60000

Name: Alice Smith
Employee ID: 102
Department: Marketing
Salary: 55000

Name: Bob Johnson
Employee ID: 103
Department: Engineering
Salary: 75000

## 1. Write a Python program to Get Only unique items from two sets.

**Input:**
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

**Output:**
{70, 40, 10, 50, 20, 60, 30}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

## 2. Write a Python program to Return a set of elements present in Set A or B, but not both.

**Input:**
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

**Output:**
{20, 70, 10, 60}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.symmetric_difference(set2)
print(set3)

{20, 70, 10, 60}

## 3. Write a Python program to Check if two sets have any elements in common. If yes, display the common elements.

**Input:**
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

**Output:**
{10}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set3 = set1.intersection(set2)
print(set3)

{10}

## 4. Write a Python program to Remove items from set1 that are not common to both set1 and set2.

**Input:**
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

**Output:**
{40, 50, 30}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.intersection(set2)
print(set3)

{40, 50, 30}